body {
    user-select: none;
}

label.lbl_cnt:after {
    content: " : " attr(data-content);
}

#canvas {
    background-color: #ddd;
    min-width: 618px;
    min-height: 800px;
    padding: 20px;
}

#alrt_xprt, #err_xprt {
    display: none;
    position: absolute;
    width: 100%;
}

.p_alert {
    padding: 0;
    margin: 0;
}

.txt_dsc {
    font-size: 14px;
    float: right;
    margin: 0;
    padding: 0;
}

.tooltip {
    pointer-events: none;
}

.bar_sticky {
    position: sticky;
    background-attachment: scroll;
    top: 0;
}

.mnu_bar {
    min-width: 350px;
}

.lnk_github {
    opacity: .5;
    transition: opacity .125s;
    font-size: 25px;
}
.lnk_github:hover {
    opacity: 1;
}

#img_example {
    opacity: .2;
}

#inp_prev:before, #inp_save:before {
    font-family: 'bootstrap-icons';
    padding-right: 10px;
    vertical-align: middle
}
#inp_prev:before {
    content: "\F33E";
}
#inp_save:before {
    content: "\F7C5";
}